Click To Enter CSS file
*/
..button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}
<h2>Colored Button Borders</h2>

<p>Use the border property to add a border to the button:</p>

<button class="button button1">Green</button>

.unclicked {
  filter: blur(4px);
  /* z-index: 100; */
}

.overlay {

  width: 100%;
  height: 100vh;
  
  opacity: 0;
}

.overlaytext {
  text-align: center;
  
  position: absolute;
  z-index: 2;

  background-color: black;
  color: white;
  
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

.click {
  animation: clickedAnim 1s;
}

.clicked {
  filter: 0;
}

.fadeIn {
  animation: fadeInAnim 1s;
}

.fadeOut {
  animation: fadeOutAnim 1s;
}

@keyframes fadeInAnim
{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOutAnim
{
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes clickedAnim
{
  from {
    filter: blur(4px);
    -webkit-filter: blur(4px);
  }
  to {
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }
}
