@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

pre, span, div, p, h1 {
  background-color: transparent;
}

* {
  text-align: center;

  margin: 0px;
  padding: 0px;
  overflow: hidden;

  background-color: black;
  color: white;

  font-family: 'Source Code Pro', monospace;
}

pre {
  /* background: white; */
}

.inline-container {
  position: absolute;
  bottom: 15%;
  width: 470px;
  /* width: 600px; */
}

.emoji {
  height: 20px;
  bottom:50%;
  transform:translateY(30%);
}

#marquee {
  display: inline-block;
  width: 450px;
}

.title {
  font-size: 25px;
}

.center {
  position: absolute;

  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

.topbar {
  top: 5%;
}

.centerbar {
  
}

.bottombar {
  top: auto;
  bottom: 5%;
}